<body background="/images/HermitCrab.png"/>
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  <div id ="login">
    <div id="loginbox">
      <form action = "/" method = "POST">
        <div id="username">
          <label>Username</label>
          <input type = "text" name = "username">
        </div>
        <div id="password">
          <label>Password</label>
          <input type = "password" name = "password">
        </div>
        <div class="bigbtn"><input type = "submit" value="Login"></div>
      </form>
      <div class="bigbtn" method="link" action='/register'>
        <a href='/register' type="submit">Sign Up</a>
      </div>
    </div>

  </div>
</body>
